.footer {
  display: grid;
  grid-row-gap: 2rem;
  font-size: 0.85rem;

  @media (--screen-pc) {
    top: 0;
    position: sticky;
    margin-top: -1rem;
    padding: 1rem 0 1rem 1rem;
    border-left: 1px solid var(--blue-color);
  }
}

.footer__nav {
  display: none;
}

@media (--screen-pc) {
  .footer--open {
    height: 100vh;

    grid-template-rows: auto 1fr auto auto;
  }

  .footer--open .footer__nav {
    display: block;
  }
}
